<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form method="post" action="#" th:action="@{/usuario/edit/submit}" th:object="${usuarioForm}">
        <label>Nombre: <input type="text" id="nombre" th:field="*{nombre}" /></label><br />
        <label>Fecha de Registro: <input type="text" id="fechaRegistro" th:field="*{fechaRegistro}" /></label><br />
        <label>Contraseña: <input type="text" id="password" th:field="*{password}" /></label><br />
        Rol:<br />
        <div th:each="rol : ${T(com.example.demo.domain.Rol).values()}">
            <input type="radio" name="button1" th:value="${rol}" th:text="${rol}" th:field="*{rol}" />
        </div>
        <input type="submit" value="enviar">
    </form>
</body>

</html>