body {
    font-family: Arial, sans-serif;
}

#logoEasyTrip {
    background-color: #344E41;
}

#easy {
    color: #A3B18A;
    padding-left: 10px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#cerrarSesion {
    margin-top: auto;
}