.bloques {
    width: 90%;
    height: 300px;
    margin-top: 2%;
    margin-left: 5%;
    text-align: center;
}

.bloques>div {
    background-color: #588157;
    width: 50%;
    height: 300px;
}

.bloques>div:first-child {
    float: left;
}

.bloques>div:last-child {
    float: right;
}

#uno,
#cuatro,
#cinco,
#ocho,
#nueve {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.7);
}

.frase {
    /* border: 1px solid; */
    margin: auto;
    text-align: center;
    color: #FFFFFF;
    width: 60%;
    font-size: 20px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.7);
}

img {
    width: 100%;
    height: 100%;
}

#inputSearch {
    width: 100%;
    height: auto;
    border-radius: 12px;
}

#searchInput {
    flex-grow: 1;
    width: 80%;
}

#div {
    background-color: #344E41;
}

input {
    background-color: #DAD7CD;
}

#anhoActual {
    color: #A3B18A;
}

#inicioSe {
    color: #DAD7CD;
}

@media (max-width: 1000px) {
    #prueba {
        margin-left: 200px;
        width: 30rem;
    }
}