body {
    background-color: #3C486B;
}

.bloques {
    width: 90%;
    height: 300px;
    margin-top: 2%;
    margin-left: 5%;
    text-align: center;
}

.bloques>div {
    background-color: white;
    width: 50%;
    height: 300px;
}

.bloques>div:first-child {
    float: left;
}

.bloques>div:last-child {
    float: right;
}

#uno {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.7);
}

#uno>p {
    border: 1px solid;
    margin: auto;
    text-align: center;
    color: black;
    width: 60%;
    font-size: 20px;
}

img {
    width: 100%;
    height: 100%;
}

#inputSearch {
    width: 100%;
    height: auto;
    border-radius: 12px;
}

#searchInput {
    flex-grow: 1;
    width: 80%;
}

#div {
    background-color: #F9D949;
}

input {
    background-color: #F45050;
}

#anhoActual {
    color: #3C486B;
}

@media (max-width: 1000px) {
    #prueba {
        margin-left: 200px;
        width: 30rem;
    }
}