
#titulo {
    /* background-color: #F9D949; */
    color: #F45050;
    /* padding: 10px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

table {
    border: 1px solid;
    border-collapse: collapse;
}


td,
th {
    border: 1px solid;
    padding: 10px;
}