/* #easy {        
    font-size: 20px;
    color: #F45050;
} */

#titulo {
    color: #F9D949;
    text-align: center;
    background-color: #F45050;
    margin: 0%;
}

h2 {
    padding: 5px;
    background-color: #F9D949;
    color: #F45050;
    padding-left: 5px;
    /* background-color: #F45050; */
}

#select {
    margin-left: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#tablaDatos {
    display: grid;
    place-items: center;
    margin: auto
}

table {
    background-color: #F9D949;
    border-color: #F45050;
}

td,
th {
    padding: 30px;

}

th {
    background-color: #F45050;
    color: white;
}

td a {
    color: #007bff;
    text-decoration: none;
}

td a:hover {
    text-decoration: underline;
}


a[href="/lugares/new"]:not([class]) {
    display: inline-block;
    margin-top: 20px;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a[href="/usuario/"]:not([class]) {
    display: inline-block;
    color: #ffffff;
    /* background-color: #dc3545; */
    border: none;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 4px;
}

#cerrarSesion {
    background-color: #F9D949;
    color: #3C486B;
}

@media (max-width: 767.98px) {
    table {
        width: 100%;
    }

    th,
    td {
        white-space: nowrap;
    }

    .table-responsive {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }
}