h1 {
    text-align: center;
    color: #FFFFFF;
    background-color: #588157;
    padding: 5px;
}

#formLug {
    padding: 0px 10px;
    margin-top: 10px;
    border-radius: 10px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    height: 500px;
    width: 450px;
    background-color: #344E41;
}

label {
    color: #FFFFFF;
    font-weight: bolder;
}

.datosFormLug {
    border-radius: 10px;
    box-sizing: border-box;
    width: 350px;
    height: 55px;
    background: #F0F0F0;
    border: 1px solid #000000;
    border-radius: 12px;
}

#enviar {
    height: 50px;
    background-color: #DAD7CD;
    border-radius: 12px;
    font-style: bold;
    font-size: 15px;
    width: 350px;
    height: 55px;
}