#titulo {
    text-align: center;
    color: #FFFFFF;
    background-color: #588157;
    padding: 5px;
    margin: 0%;
}

h2 {
    color: #588157;
    margin-left: 50px;
}

#select {
    margin-left: 50px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#tablaDatos {
    display: grid;
    place-items: center;
    margin: auto
}

table {
    margin: 20px auto;
    border-collapse: collapse;
    color: #344E41;
    width: 80%;
    background-color: #A3B18A;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

td,
th {
    padding: 15px;
    text-align: left;
    border: 1px solid #344E41;
    text-align: center;

}

th {
    background-color: #344E41;
    color: #FFFFFF;
}

td a {
    color: #FFFFFF;
    text-decoration: none;
}

td a:hover {
    text-decoration: none;
}


a[href="/lugares/new"]:not([class]) {
    display: inline-block;
    margin-top: 20px;
    color: #344E41;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a[href="/usuario/"]:not([class]) {
    display: inline-block;
    color: #344E41;
    border: none;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 4px;
}

#cerrarSesion {
    background-color: #344E41;
    color: #FFFFFF;
}

@media (max-width: 767.98px) {
    table {
        width: 100%;
    }

    th,
    td {
        white-space: nowrap;
    }

    .table-responsive {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }
}