#easy {
    font-size: 20px;
    color: #F45050;
    margin: 0%;
}

h1 {
    text-align: center;
    color: #F9D949;
    /* margin-top: 20px; */
    background-color: #F45050;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
    background-color: #F9D949;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th,
td {
    padding: 15px;
    text-align: left;
    border: 1px solid #F45050;
}

th {
    background-color: #F45050;
    color: #fff;
    text-align: center;
}

a[href="/usuario/new"]:not([class]) {
    display: inline-block;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 4px;
}


#cerrarSesion {
    background-color: #F9D949;
    color: #3C486B;
}

/* Clases de Bootstrap para hacer la tabla responsive */
@media (max-width: 767.98px) {
    table {
        width: 100%;
    }

    th,
    td {
        white-space: nowrap;
    }

    .table-responsive {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }
}


/* div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F9D949;
    border-radius: 12px;
    margin: 20px auto;
    width: 80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} */