<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error al intentar acceder</title>
    <link rel="stylesheet" href="/css/comun.css">
    <style>
        body {
            background-color: #F9D949;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            font-family: Arial, sans-serif;
        }

        h1 {
            font-size: 24px;
            color: #F45050;
            text-align: center;
            margin: 0;
        }
    </style>
</head>

<body>
    <h1>Lo siento, ha ocurrido un error al intentar acceder.</h1>
</body>

</html>
