<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragmentos.html::cabecera"></head>
<link rel="stylesheet" href="css/index.css">

<body>
    <nav th:replace="fragmentos.html::indice"></nav>
    <div class="container mt-3 mb-3">
        <form id="searchForm" class="form-inline justify-content-center">
            <input type="text" id="searchInput" class="form-control flex-grow-1" placeholder="Search"
                style="width: 80%;">
            <button type="submit" class="btn btn-primary ml-2">Buscar</button>
        </form>
    </div>
    <div>
        <div>
            <a href="/lugares/newyork">
                <div id="bloqueUno" class="bloques">
                    <div id="uno">
                        <p> Nueva York es una ciudad llena de energía, cultura y oportunidades. Es un destino
                            fascinante para los amantes de la arquitectura, el arte, la comida y la vida urbana,
                            ofreciendo
                            una
                            experiencia única y emocionante para quienes la visitan.
                        </p>
                    </div>
                    <div id="dos"><img src="imagenes/centralPark.jpg" alt=""></div>
                </div>
            </a>
            <a href="/lugares/paris">
                <div id="bloqueDos" class="bloques">
                    <div id="tres"><img src="img/paris.jpg" alt=""></div>
                    <div id="cuatro"></div>
                </div>
            </a>
            <a href="/lugares/tokio">
                <div id="bloqueTres" class="bloques">
                    <div id="cinco"></div>
                    <div id="seis"><img src="img/tokyo.jpg" alt=""></div>
                </div>
            </a>
            <a href="/lugares/corunha">
                <div id="bloqueCuatro" class="bloques">
                    <div class="siete"><img src="img/coruña.jpg" alt=""></div>
                    <div class="ocho"></div>
                </div>
            </a>
            <a href="/lugares/brasilia">
                <div id="bloqueCinco" class="bloques">
                    <div class="nueve"></div>
                    <div class="diez"><img src="img/brasilia.jpg" alt=""></div>
                </div>
            </a>
        </div>
        <div class="card text-center" id="div">
            <div class="card-body">
                <a class="nav-item nav-link active text-danger" th:href="@{/login}">Iniciar sesión</a>
                <form id="boton" th:action="@{/logout}" method="post">
                    <input type="submit" class="btn" value="Cerrar sesión">
                </form>
            </div>
            <div class="card-footer text-muted">
                <p><span id="anhoActual" th:text="${fechaActual}"></span></p>
            </div>
        </div>
        <script src="js/index.js"></script>
</body>

</html>