<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">


<head>
    <title>Inicio de sesión</title>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/comun.css">

</head>

<body>
    <h1>EasyTrip</h1>
    <p id="informacion">Proporciona información actualizada sobre
        los principales de stinos turísticos del mundo
        para ayudar a los viajeros a planificar y
        disfrutar mejor de sus viajes.</p>
    <!-- <div th:if="${param.error}">Invalid username and password.</div> -->
    <div th:if="${param.logout}">You have been logged out.</div>
    <div id="responsive">
        <form th:action="@{/login}" id="fondo" method="post">
            <input type="text" id="usuario" name="username" placeholder="Correo eléctronico o usuario">
            <div id="contrasenha-div">
                <input type="password" id="contrasenha" name="password" placeholder="contraseña">
                <button id="toggle-password" type="button">
                    <img src="img/candado.svg" />
                </button>
            </div>
            <input type="submit" id="inicio" value="Log in" class="botones" />
            <p id="noIni">¿No puedes iniciar sesión?</p>
            <a href="/usuario/new" id="crear" class="botones">Crear Cuenta</a>
        </form>
    </div>
    <script src="/js/login_.js"></script>
</body>


</html>