<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table{
            border: 1px solid;
            border-collapse: collapse;
        }
        td, th{
            border: 1px solid;
            padding: 10px;
        }
    </style>
</head>
<body>
    <h1>Listado de Valoraciones de un usuario</h1>
    <h2 th:text="'usuario: ' + ${usuario.nombre}">Usuario</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Puesto</th>
                <th>Comentario</th>
                <th>Borrar</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="valoracion : ${listaValoracion}">
                <td th:text="${valoracion.productos.id}">Id</td>
                <td th:text="${valoracion.productos.nombre}">nombre</td>
                <td th:text="${valoracion.puntuacion}">Puntuacion</td>
                <td th:text="${valoracion.comentario}">Comentario</td>
                <td><a th:href="@{/valoracion/delete/{id}
(id=${valoracion.id})}">Borrar</a></td>
            </tr>
        </tbody>
    </table>
    <a href="/">Inicio</a><br />
    <a th:href="@{/valoracion/new}">Nueva relación producto - usuario</a><br />
</body>
</html>